/* Стили для основного контейнера */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 20px 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}

.counter {
  font-size: 12px;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

/* Стили для заголовка */
.name {
  font-size: 5em;
  margin-bottom: 20px;
  font-weight: 100;
  color: #d3a69b;
}

/* Общие стили для кнопок */
button {
  padding: 1px 2px;
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
}

/* Стили для кнопок фильтрации */
button.active-filter {
  border: #646464 solid 1px;
  border-radius: 5px;
}
